config.yml
/db/*.sqlite3
/bundle
/vendor/bundle
/vendor/gem
/.bundle
/tmp/*.log
/log/*.log
/tmp/pids/*.pid
/*.csv
/coverage
.DS_Store
/tags
/import.rb
/pkg
/Lokka.app
/doc
/.yardoc
.sass-cache
database.yml
*~
/public/**/node_modules
.node-version
