body {
  color: black;
  font-family: 'Helvetica Neue', 'Hiragino Kaku Gothic Pro';
}

#main {
  padding-top:20px;
}

h1 a:link { color: black; }
h1 a:visited { color: black; }
h1 a {
  text-decoration: none;
}
h1 a:hover {
  text-decoration: underline;
}

div.body {
  margin-bottom: 40px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a:link { color: #008080; }
a:visited { color: #008080; }


.site_link a {
  text-decoration: none;
}

.site_link a:hover {
  text-decoration: underline;
}
.site_link a:link { color: gray; }
.site_link a:visited { color: gray; }


ul.links li {
  float: left;
  margin-right: 20px;
}

div#footer {
  text-align:center;
  text-decoration: none;
}
div#footer a {
  text-decoration: none;
}
div#footer a:link { color: gray; }
div#footer a:visited { color: gray; }

ul.tags li.tag {
  float: left;
  margin-right: 10px;
}
ul.tags {
}

.clear_fix {
  clear: both;
}
